html, body {

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

body {

	padding: 2em;

}

ol {

	padding: 0;
	width: 300px;

}

.draggable {

	cursor: move;

}

.messages {

	color: #00C;
	font-size: 0.8em;
	-text-transform: uppercase;
}

-ol li.draggable select {

	visibility: hidden;

}

ol li {

	white-space: nowrap;
	color: silver;
	background-color: #EEE;
	list-style-position: inside;
	padding: 1em;
	margin-bottom: 1em;

	-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;


}

ol li:first-child span {

	font-size: 1.2em;
	color: black;

}

ol li:nth-child(2) span {

	font-size: 1.1em;
	color: black;

}

ol li input {

	width: 2em;

}